body{
    margin: 0;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url(clockpic.jpg);
    background-size: cover;
    color: white;
    overflow: hidden;
}
h2{
   text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center;
    color: white;
}
.clock{
    display: flex;
}
.clock div {
    margin: 5px;
}
.clock span {
    width: 100px;
    height: 100px;
    background-color:black;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    background-color:purple;
    letter-spacing: 2px;
    opacity: 0.8;
}
.clock .ampm {
    bottom: 200px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: purple;
}